.tournament_section {
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 75px;
}

.tournament_section .heading_title {
  color: white;
  font-size: 12px;
  width: 11%;
  font-weight: 500;
  background-color: #fb6e10;
}

.tournament_section .tournament_main_box {
  position: relative;
  background-color: #252525;
}

.tournament_section .tournament_main_box .title {
  background-color: #ffb320;
  color: #131313;
  font-size: 12px;
  font-weight: 700;
  width: fit-content;
}

.tournament_section .tournament_main_box .tournament_content h4 {
  font-size: 24px;
  color: #ffb320;
  font-weight: 500;
}

.tournament_section .tournament_main_box .tournament_content .box_title {
  font-size: 13px;
  color: #9a9a9a;
}

.tournament_section
  .tournament_main_box
  .tournament_content
  .box_title_content {
  font-size: 13px;
  color: white;
}

.tournament_section .tournament_main_box .tournament_content .box_last_title {
  font-size: 13px;
  color: #ffb320;
  font-weight: 500;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .tournament_section .heading_title {
    width: 13%;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .tournament_section .heading_title {
    width: 13%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tournament_section .heading_title {
    width: 18%;
  }

  .tournament_section .tournament_main_box .tournament_content h4 {
    font-size: 20px;
  }

  .tournament_section .tournament_main_box .tournament_content .box_title {
    font-size: 11px;
  }

  .tournament_section
    .tournament_main_box
    .tournament_content
    .box_title_content {
    font-size: 11px;
  }

  .tournament_section .tournament_main_box .tournament_content .box_last_title {
    font-size: 11px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .tournament_section {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .tournament_section .heading_title {
    width: 25%;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  .tournament_section {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .tournament_section .heading_title {
    width: 27%;
  }

  .tournament_section .tournament_main_box .tournament_img {
    height: 150px;
  }
}

@media (max-width: 479px) {
  .tournament_section {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .tournament_section .heading_title {
    width: 42%;
  }
}
